@theme static {
  --text-control: 14px;
  --text-control--line-height: 22px;
  --tracking-control: 0.06em;
  --font-sans: "FOT-Rodin Pro", sans-serif;
  --font-rodin: "FOT-Rodin Pro", sans-serif;
  --font-newrodin: "FOT-NewRodin Pro", sans-serif;
}
